
.user-button {

	display: grid;
	align-items: center;
    background-color: #171717;
    text-decoration: none;
    margin: 1em;
    text-align: center;
    height: 25vh;
    width: 40vw;
	color: #aaa;
    border-bottom: solid #000 1px;
    box-shadow: 1px 1px 3px black;
    border-radius: .5em;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.user-card {
	font-size: 4vw;
	font-style: italic;
}

.grid-container-users {
	display:grid;
	grid-template-columns: auto auto;
	justify-content: center;
}

.grid-item-user {

}

.chosen-user {
	color: #000000;
	background-color: white;
}