:root {
	--text: #aaa;
	/*--bg: #222;*/
	--bg: #222222ed;
	--border: rgba(55, 55, 55, 0.6); /* rgba(100,100,100,.6);*/
}
body {
	background-color: var(--bg);
}

#content {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}

@media (max-width: 1000px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
  #content {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}



.movie {
	width:25vw;
	border:solid var(--border) 4px;
	border-radius: .2em;
	margin:3vw; /*1em;*/
	box-shadow: #050505 0px 0px 10px; /*222*/
	background-color: #00000059; /* testing TODO */
}

#content .movie {
	margin: .1vw;
}

.poster {
	width: 100%;
}

div.movie-poster {
	text-align:center;
	position:relative;
}
.rank-emblem {
	font-size: 10vh;
	z-index: 1;
	position: absolute;
	mix-blend-mode: difference;
	color: #fff;
	bottom:0vh;
	right: 0vh;
}

.movie-info {
	padding:1em;
	color: var(--text);
}
.movie-rank {
	font-size:3vh;
	text-align: center;
	
}
.movie-title {
	font-size:1.5vh;
	font-style: italic;
	text-align: center;
	
}

.obscured {
	opacity:0;
	-webkit-filter: saturate(100%) hue-rotate(90deg) brightness(2) blur(15px);
}

/* for vote.html */
.sortable-ghost {
	opacity: 0;
}
.sortable-chosen {

}
.grid-container {
	display:grid;
	grid-template-columns: auto auto auto;
	justify-content: center;
}

.grid-item {

}

.header {
	height: 10vh;
  padding: 1vh;
  background: #232323;
  color: #dcdcdc;
  font-size: 1em;
  border-bottom: solid #1f1f1f 2px;
  display: flex;
  align-items: center;
}

.main-text {
	float:left;
	font-size:5vh;
  font-style: italic;
  padding-left:4vw;
	/*border: 1px solid;*/
}

#lock-btn {
	float:right;
	font-size:8vh;
	/*border: 1px solid;*/
	padding:1vw;
	margin-left: auto;
	order:2;
}

.background-container {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  margin-top: 25vh;
}	

.bg-img {
  width: 100vw;
	mask-image: linear-gradient(to bottom,
														rgba(255, 255, 255, 0) 0%,
														rgb(0, 0, 0) 60%,
														rgba(255, 255, 255, 0));
	-webkit-mask-image: linear-gradient(to bottom,
														rgba(255, 255, 255, 0) 0%,
														rgb(0, 0, 0) 60%,
														rgba(255, 255, 255, 0));
 /* mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 0%,rgba(255, 255, 255, 0) 100%);
  -webkit-mask-image:linear-gradient(to bottom, rgb(0, 0, 0) 0%,rgba(255, 255, 255, 0) 100%); */
}
.background {
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: contain; /* Resize the background image to cover the entire container */
}

.locked-in::after {
	content: "🔒";
}
.unlocked::after {
	content: "🔓";
}