<head>
	<title>choose user</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/choose.css') }}">
</head>

<body>
	<div id="items" class="grid-container-users">
    {% for user in users %}
    <a class="user-button grid-item-user" href="{{url_for('vote_get', user_id=user.id)}}">
        <div class="user-card">
            <p class='username'>{{user.username}}</p>
    	</div>
    </a>
	{% endfor %}
</body>