<!doctype html>
<head>
	<title>Search</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/search.css') }}">
    <script type="text/javascript" src ="{{ url_for('static', filename = 'js/utils.js') }}"></script> 
    <script type="text/javascript" src ="{{ url_for('static', filename = 'js/search.js') }}"></script>
    <script>
        user_ = load_data_from_server('user',  {{user|tojson}});
    </script>
</head>

<body>

    <div id="search-bar-container" user_id={{user.id}}>
        <input type="text" id="movie-search" class="search-bar" placeholder="search movie title...">
    </div>


	<div id="movie-results-grid">
        <!-- apply .movie css class from js after letterboxd api results return -->
	</div>

</body>