<!DOCTYPE html>
<head>
	<title>movie voting</title>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
	<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <script type="text/javascript" src ="{{ url_for('static', filename = 'js/utils.js') }}"></script>
    <script>
        cached_ranks = load_data_from_server('cached_ranks',  {{order|tojson}});
    </script>
    <script type="text/javascript" src ="{{ url_for('static', filename = 'js/vote.js') }}"></script>
</head>

<body class='vote-body'>
	<div class="header">
		<div class='main-text'>
	  		<span class='h1-text'>Rank The Movies</span>
	  	</div>
  		<div id='lock-btn' class='unlocked'>
	  		<span class='lock-text'></span>
	  	</div>
	</div>

	<div id="items" class="grid-container" user={{user.id}}>
	    {% for movie in movies %}
	    <div class="movie grid-item" data-id={{movie.id}}>

	        <div class="movie-poster">
	            <img class="poster"
	                    src="{{movie.poster_path}}">
	            <a class="rank-emblem">{{loop.index0 + 1}}</a>
	        </div>

	        <div class="movie-info">
	            <div class="movie-title" data={{movie.id}}>
	                <h3>{{ movie.title }}</h3>
	            </div>
	        </div>

		</div>
		{% endfor %}
	</div>
</body>